[Unit]
Description=Docker data on tmpfs (live system)
Before=docker.service

[Mount]
What=tmpfs
Where=/var/lib/docker
Type=tmpfs
Options=mode=0710,uid=0,gid=0

[Install]
WantedBy=multi-user.target
